#mainBorderPane {
	-fx-fit-to-width: true;
	-fx-width: 100%
}
#chessboardTopArea {
	-fx-max-height: 100px;
	
}
#chessboardLeftArea {
	-fx-max-width: 100px;
}
#chessboardContainer {
	-fx-width: 100%;
	-fx-min-width: 400px;
	-fx-min-height: 400px;
}

#chatBorderPane {
	
}

#chatScroll {
	-fx-fit-to-width: true;
	
}

#chatBox {

}
.networkInputLabel{
	-fx-text-fill: rgb(251, 251, 251);
}

#networkInfoPane {
	-fx-background-color: rgba(0, 0, 0, 0.75);
}

#connectionLostPane {
	-fx-background-color: rgba(0, 0, 0, 0.75);
	
}