#mainBorderPane {

}
#chessboardTopArea {
	-fx-max-height: 100px;
	
}
#chessboardLeftArea {
	-fx-max-width: 100px;
}
#chessboardContainer {
	-fx-width: 100%;
	-fx-min-width: 400px;
	-fx-min-height: 400px;
}